<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-info">You have reached the End of internet</h1>
        <hr style="width:50px;color:red;margin-left:auto;margin-right:auto" />
        <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">Home Page</a>

    </div>
   
</div>